@charset "UTF-8";
html {
  font-size: 15px;
}

body {
  font-family: "Open Sans", sans-serif;
  color: black;
}
body .goto-up {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 3rem;
  color: #12afaf;
  text-decoration: none;
  line-height: 0;
  z-index: 99999;
  transition: all 0.5s ease;
}
body .goto-up:hover, body .goto-up:focus {
  outline: 0;
  text-decoration: none;
  color: white;
}

.welcome {
  background-image: url("../image/fondo-encabezado.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.arrow-down a {
  color: white;
  display: inline-block;
  font-size: 3rem;
  animation: arrow-animate 1.5s ease-in-out infinite;
}

.header {
  background: black;
  color: white;
  padding: 0.5rem 0;
}
.header .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header .container .btn-menu, .header .container .btn-search {
  border: 0;
  font-size: 2rem;
  margin: 0;
  padding: 0 0.5rem;
  background: transparent;
  color: white;
}
.header .container .btn-menu:focus,
.header .container .btn-search:focus {
  outline: 0;
}
.header .container .btn-search {
  margin-left: auto;
  margin-right: 0.8rem;
}
.header .container .logo img {
  width: 150px;
  height: auto;
}
.header .container #block-search .container-block-search {
  display: flex;
  height: 3rem;
  margin: 1rem 0;
}
.header .container #main-menu {
  flex: 1 1 100%;
}
.header .container #main-menu ul {
  padding: 0;
  list-style: none;
  margin: 1rem 0 0 0;
}
.header .container #main-menu ul a {
  display: block;
  padding: 0.8rem 0;
  text-align: center;
  color: white;
  text-transform: uppercase;
  border-top: 1px solid grey;
  text-decoration: none;
}
.header .container #main-menu ul li.active a {
  color: #12AFAF;
}
.header .container #main-menu ul a:hover {
  color: #12AFAF;
}
.header .container input[type=text] {
  border: 0;
  border-radius: 5px 0 0 5px;
  padding: 1rem;
  flex: 1 1 auto;
}
.header .container input[type=submit] {
  flex: 1 1 auto;
  border: 0;
  border-radius: 0 5px 5px 0;
  background: #12AFAF;
  color: white;
  flex: 0 1 auto;
  padding: 0 1rem;
}

.btn-primary {
  color: white;
  background-color: #12AFAF;
  border-color: transparent;
  transition: all 0.5s ease;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  border-color: transparent;
  background-color: #009500;
}

.text-header {
  color: white;
}
.text-header .display-4 {
  margin-top: 3.5rem;
}

.agency {
  background: #12AFAF;
  color: white;
}
.agency img {
  width: 80%;
  margin: 0 auto;
  display: block;
}

.best-chosen h2 span {
  color: #12AFAF;
}
.best-chosen ul li {
  list-style: none;
  min-height: 9rem;
}
.best-chosen ul .fa {
  font-size: 2.3rem;
  background: #009500;
  border-radius: 50%;
  height: 4.7rem;
  width: 4.7rem;
  line-height: 4.7rem;
  color: white;
}
.best-chosen ul h4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0.8rem;
}

.services {
  background: url("../image/fondo-servicios.jpg") no-repeat center center;
  background-size: cover;
  color: #fff;
}
.services article {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  flex-direction: column;
  align-items: center;
}
.services article:hover img {
  transform: rotateY(360deg);
  transform-style: preserve-3d;
}
.services img {
  flex: 0 0 90px;
  overflow: hidden;
  margin-right: 0;
  margin-bottom: 1rem;
  transition: all 1s ease;
}
.services h3 {
  margin: 0 0.5rem;
  font-size: 1.5rem;
  flex: 0 1 auto;
}
.services h3 a {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services h3 a::after {
  content: "";
  font-family: FontAwesome;
  font-size: 2rem;
  margin-left: 1rem;
  opacity: 0.5;
  position: relative;
  left: 0;
}
.services h3 a:hover::after {
  left: -0.5rem;
  opacity: 1;
  color: #12AFAF;
  transition: all 0.5s ease;
}
.services .btn-secondary {
  margin-top: auto;
}

.footer {
  background: black;
  text-align: center;
  font-size: 0.9rem;
  color: white;
}
.footer .social-network {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer .social-network a {
  color: white;
  font-size: 2rem;
  margin: 0 0.5rem;
  opacity: 0.7;
}
.footer .social-network a:hover {
  opacity: 1;
  transition: all 0.5s ease;
}

@media (min-width: 768px) {
  #main-menu {
    height: auto !important;
    display: block;
    flex: 0 1 auto !important;
    margin-left: auto;
    order: 1;
  }
  #main-menu ul {
    display: flex;
    margin: 0 0 0 0;
  }
  #main-menu ul li a {
    padding: 0.8rem !important;
    text-transform: capitalize;
    margin: 0.3rem;
    border-top: 0 !important;
  }
  #main-menu ul li.active a {
    border-bottom: 1px solid #12AFAF;
  }
  #main-menu ul a:hover {
    border-bottom: 1px solid #12AFAF;
  }

  .btn-search {
    order: 2;
  }

  #block-search {
    order: 3;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 16px;
  }
  html .best-chosen ul li {
    display: flex;
    margin-top: 0;
    font-size: 1rem;
  }
  html .best-chosen ul li:hover .fa {
    transform: rotateY(360deg);
    transform-style: preserve-3d;
    background: #12AFAF;
  }
  html .best-chosen ul li .fa {
    text-align: center;
    float: 0 1 auto;
    margin-right: 1rem;
    transition: all 1s ease;
  }
  html .best-chosen ul li .container-choose {
    flex: 1 0 0px;
  }
  html .best-chosen ul li .container-choose h4 {
    margin-top: 0;
    font-size: 1rem;
  }
  html .best-chosen ul li p {
    font-size: 0.85rem;
  }
  html .best-chosen ul:first-child .fa {
    margin-left: 1rem;
    margin-right: 0;
    order: 1;
  }
}
@keyframes arrow-animate {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(6px);
  }
  to {
    transform: translateY(0);
  }
}

/*# sourceMappingURL=styles.css.map */
