$text: black;
$main: #12AFAF;
$secundary: #009500;

html {
  font-size: 15px;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: $text;

  .goto-up {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 3rem;
    color: rgb(18, 175, 175);
    text-decoration: none;
    line-height: 0;
    z-index: 99999;
    transition: all .5s ease;

    &:hover, &:focus {
      outline: 0;
      text-decoration: none;
      color: white;
    }
  }
}

.welcome {
  background-image: url("../image/fondo-encabezado.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed; //Show parallax effect
  height: 100vh;
}

.arrow-down {
  a {
    color: white;
    display: inline-block;
    font-size: 3rem;
    animation: arrow-animate 1.5s ease-in-out infinite;
  }
}

.header {
  background: $text;
  color: white;
  padding: .5rem 0;

  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .btn-menu, .btn-search {
      border: 0;
      font-size: 2rem;
      margin: 0;
      padding: 0 .5rem;
      background: transparent;
      color: white;
    }

    .btn-menu:focus,
    .btn-search:focus {
      outline: 0;
    }

    .btn-search {
      margin-left: auto;
      margin-right: .8rem;
    }

    .logo {
      img {
        width: 150px;
        height: auto;
      }
    }

    #block-search {
      .container-block-search {
        display: flex;
        height: 3rem;
        margin: 1rem 0;
      }
    }

    #main-menu {
      flex: 1 1 100%;

      ul {
        padding: 0;
        list-style: none;
        margin: 1rem 0 0 0;

        a {
          display: block;
          padding: .8rem 0;
          text-align: center;
          color: white;
          text-transform: uppercase;
          border-top: 1px solid grey;
          text-decoration: none;
        }

        li.active a {
          color: $main;
        }

        a:hover {
          color: $main;
        }
      }
    }

    input[type='text'] {
      border: 0;
      border-radius: 5px 0 0 5px;
      padding: 1rem;
      flex: 1 1 auto;
    }

    input[type='submit'] {
      flex: 1 1 auto;
      border: 0;
      border-radius: 0 5px 5px 0;
      background: $main;
      color: white;
      flex: 0 1 auto;
      padding: 0 1rem;
    }
  }
}

.btn-primary {
  color: white;
  background-color: $main;
  border-color: transparent;
  transition: all .5s ease;

  &:hover, &:focus, &:active {
    border-color: transparent;
    background-color: $secundary;
  }
}

.text-header {
  color: white;

  .display-4 {
    margin-top: 3.5rem;
  }
}

.agency {
  background: $main;
  color: white;

  img {
    width: 80%;
    margin: 0 auto;
    display: block;
  }
}

.best-chosen {
  h2 {
    span {
      color: $main;
    }
  }

  ul {
    li {
      list-style: none;
      min-height: 9rem;
    }

    .fa {
      font-size: 2.3rem;
      background: $secundary;
      border-radius: 50%;
      height: 4.7rem;
      width: 4.7rem;
      line-height: 4.7rem;
      color: white;
    }

    h4 {
      font-size: 1.2rem;
      font-weight: bold;
      margin-top: 0.8rem;
    }
  }
}

.services {
  background: url("../image/fondo-servicios.jpg") no-repeat center center;
  background-size: cover;
  color: #fff;

  article {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    flex-direction: column;
    align-items: center;

    &:hover img {
      transform: rotateY(360deg);
      transform-style: preserve-3d;
    }
  }

  img {
    flex: 0 0 90px;
    overflow: hidden; //imagenes svg
    margin-right: 0;
    margin-bottom: 1rem;
    transition: all 1s ease;
  }

  h3 {
    margin: 0 0.5rem;
    font-size: 1.5rem;
    flex: 0 1 auto;

    a {
      color: white;
      text-decoration: none;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &::after {
        content: "\f054";
        font-family: FontAwesome;
        font-size: 2rem;
        margin-left: 1rem;
        opacity: .5;
        position: relative;
        left: 0;
      }

      &:hover::after {
        left: -.5rem;
        opacity: 1;
        color: $main;
        transition: all .5s ease;
      }
    }
  }

  .btn-secondary {
    margin-top: auto;
  }
}

.footer {
  background: $text;
  text-align: center;
  font-size: .9rem;
  color: white;

  .social-network {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      color: white;
      font-size: 2rem;
      margin: 0 .5rem;
      opacity: .7;

      &:hover {
        opacity: 1;
        transition: all .5s ease; //over icon effect
      }
    }
  }
}

@media (min-width: 768px) {
  #main-menu {
    height: auto !important;
    display: block;
    flex: 0 1 auto !important;
    margin-left: auto;
    order: 1;

    ul {
      display: flex;
      margin: 0 0 0 0;

      li {
        a {
          padding: .8rem !important;
          text-transform: capitalize;
          margin: .3rem;
          border-top: 0 !important;
        }
      }

      li.active a {
        border-bottom: 1px solid $main;
      }

      a:hover {
        border-bottom: 1px solid $main;
      }
    }
  }

  .btn-search {
    order: 2;
  }

  #block-search {
    order: 3;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 16px;

    .best-chosen {
      ul {
        li {
          display: flex;
          margin-top: 0;
          font-size: 1rem;

          &:hover{
            .fa{
              transform: rotateY(360deg);
              transform-style: preserve-3d;
              background: $main;
            }
          }

          .fa {
            text-align: center;
            float: 0 1 auto;
            margin-right: 1rem;
            transition: all 1s ease;
          }

          .container-choose {
            flex: 1 0 0px;

            h4 {
              margin-top: 0;
              font-size: 1rem;
            }
          }

          p {
            font-size: .85rem;
          }
        }

        &:first-child {
          .fa {
            margin-left: 1rem;
            margin-right: 0;
            order: 1;
          }
        }
      }
    }
  }
}

@keyframes arrow-animate {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(6px);
  }
  to {
    transform: translateY(0);
  }
}
